<p>habit-board works!</p>
<h1>Hello, {{ title }}</h1>
<button class="btn btn-outline-danger">Bootstrap Button</button>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="january">
    <th mat-header-cell *matHeaderCellDef> january </th>
    <td mat-cell *matCellDef="let month">
      <app-habit-board-cell [dayOfMonth]="month.january"></app-habit-board-cell>
    </td>
  </ng-container>

  <ng-container matColumnDef="february">
    <th mat-header-cell *matHeaderCellDef> february </th>
    <td mat-cell *matCellDef="let month">
      <app-habit-board-cell [dayOfMonth]="month.february"></app-habit-board-cell>
    </td>
  </ng-container>

  <ng-container matColumnDef="march">
    <th mat-header-cell *matHeaderCellDef> march </th>
    <td mat-cell *matCellDef="let month">
      <app-habit-board-cell [dayOfMonth]="month.march"></app-habit-board-cell>
    </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="april">
    <th mat-header-cell *matHeaderCellDef> april </th>
    <td mat-cell *matCellDef="let month"> {{month.april}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="may">
    <th mat-header-cell *matHeaderCellDef> may </th>
    <td mat-cell *matCellDef="let month"> {{month.may}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>