<p>habit-board works!</p>
<h1>Hello, {{ title }}</h1>
<button class="btn btn-outline-danger">Bootstrap Button</button>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->


  <ng-container matColumnDef="january">
    <th mat-header-cell *matHeaderCellDef> january </th>
    <td mat-cell *matCellDef="let month">
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title class="mb-2">
              Day: {{month.january}}
            </mat-card-title>
            <mat-card-subtitle>
              <mat-form-field appearance="outline" class="me-2">
                <mat-label>level zrobiony</mat-label>
                <mat-select>
                  <mat-option value="one"> mini </mat-option>
                  <mat-option value="two"> medium </mat-option>
                  <mat-option value="three"> elite </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-card-subtitle>
            <img mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
          </mat-card-title-group>
        </mat-card-header>


      </mat-card>
    </td>

  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="february">
    <th mat-header-cell *matHeaderCellDef> february </th>
    <td mat-cell *matCellDef="let month">
      {{month.february}}
      <button mat-flat-button>Basic</button>
    </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="march">
    <th mat-header-cell *matHeaderCellDef> march </th>
    <td mat-cell *matCellDef="let month"> {{month.march}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="april">
    <th mat-header-cell *matHeaderCellDef> april </th>
    <td mat-cell *matCellDef="let month"> {{month.april}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="may">
    <th mat-header-cell *matHeaderCellDef> may </th>
    <td mat-cell *matCellDef="let month"> {{month.may}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>